/*-----------------------------------------------------*/
/*BASIC SETUP*/
/*-----------------------------------------------------*/
* {
    /*  "*" Targets all elements purpose here to remove all padding and margin*/
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body{
    /*by default background color is white but still set as white*/
    background-color: #fff;
    color: #555; /*Font*/
    font-family: 'Lato', 'Arial', sans-serif; /*css file is included in html from google; included alt fonts incase.*/
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;/*Renders fonts better*/
    overflow-x: hidden;
}
/*added this to add spacing between bottom of photo and "HOW IT WORKS...."*/
/*to clear float*/
.clearfix{zoom:1}
.clearfix::after{
    content: '.';
    clear: both; /*actual clearing happens here*/
    display: block;
    height: 0;
    visibility: hidden;
}
/*-----------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*-----------------------------------------------------*/
.row{
    /*all content will be in rows because of responsive grid system*/
    max-width: 1140px;/*only value will be absolute*/
    /*margin: 0 auto 0 auto Top right down left below is a short cut*/
    margin: 0 auto;
}
section{
    /*
    Margin is outer space of an element, while padding is inner space of an element. 
    Margin is the space outside the border of an element, while padding is the space 
    inside the border of it. Margin accepts the value of auto: margin: auto , but you 
    can't set padding to auto.
    */
    margin: 80px;
}

.box {
    padding: 1%;
}
/* ----- HEADINGS --------- */
h1,
h2,
h3{
   
    font-weight: 300;/*general rule: larger the font then decrease font weight */
    text-transform: uppercase; /*transform string to uppercase*/
    
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;/*take % from html font size */
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
/*below is a yellow line under "GET FOOD FAST..."
  "after" allows you to put content with css will
  after h2 element
*/
h2::after{
    display: block;
    height: 2px;
    background-color: #3498db;
    content: " ";
    width: 100px;
    margin: 0 auto; /*centers line*/
    margin-top: 30px;
}
h3{
    font-size: 110%;
    margin-bottom: 15px;
}
/* ------ PARAGRAPHS --------- */
.long-copy{
    line-height: 145%; /*Rule of typography: line height should be between 120-145% */
    width: 70%;
    margin-left: 15%; /*to center content but it simple math 15% left-right and 70% for content*/
}

.box p{
    font-size: 90%;
    line-height: 145%;/*spacing in between lines*/
}

/* ------ ICONS --------- */
.icon-big {
    /*treat icons like fonts*/
    font-size: 350%;
    display: block;
    color: #3498db;
    margin-bottom: 10px;
}
.icon-main-header{
    font-size: 150%;
    color: #555;
    float: left;
    /*height: 100px;
    width: auto;*/
    margin-top: 60px;
    word-spacing: 4px;
    letter-spacing: 1px;
    
}

.icon-small{
    /*align icons to text*/
    display: inline-block;
    widows: 30px;
    text-align: center;
    color: #3498db;
    font-size: 120%;
    margin-right: 10px;

    /*important to align icons to text*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* ------ LINKS --------- */

a:link,
a:visited{
    color:#3498db;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #3498db;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
}


/* ------ BUTTONS --------- */


/*both will look same */
.btn:link,
.bth:visited, 
input[type= submit]{ /*button - Send it!*/
    display: inline-block;
    padding: 10px 30px;/*vertical sides*/
    font-weight: 300;
    text-decoration: none;/*removes underline from text*/
    border-radius: 200px; /*rounds buttons*/

    /*Notice: webkit-transition: this is done all through out code
    to properly work on all browser. Installed auto prefix in IDE and 
    then selected all text then auto prefixed*/
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    
    transition: background-color 0.2s, border 0.2s, color 0.2s;/*nice transition of color when hovering over button*/
}

.btn-full:link,
.btn-full:visited,
input[type= submit] {
    background-color: #3498db;/*flatuicolors.com*/
    border: 1px solid #3498db; /*to make both buttons same size: box model*/
    color: #fff;
    margin-right: 15px; /*space in between buttons*/
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #5faee3; /*small border around button but transparent center*/
    color: #fff;
}

/*when hovering over button*/
.btn:hover,
.btn:active,
input[type= submit]:hover,
input[type= submit]:active{
    background-color: #5faee3; 
}

.btn-full:hover,
.btn-full:active, 
input[type= submit]{
    border: 1px solid #5faee3; /*when hovering the border should have same color*/
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #5faee3; /*small border around button but transparent center*/
    color: #fff;
}

/*-----------------------------------------------------*/
/*HEADER*/
/*-----------------------------------------------------*/

header{
    /*to make text in text box more visible. linear-gradient allows to add a layer of transparent color over image */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0,0,0,0.7))),url(img/fruits.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)),url(img/fruits.jpg);
    background-size: cover; /*to see whole image*/
    background-position: center;/*photo will auto resize properly */
    height: 100vh;/*100% of the view port*/
    /*will leave above a white gap.Solution removing top margin from h1*/
    background-attachment: fixed; /*cool effect: the image in background stays in same place while scrolling*/
}

.hero-text-box{
    position: absolute;/*need to use absolute to make sure box is centered vertical and horizontal*/
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);/*Translates element half of its width and height to the up and to the left. If not 
                                        done then text box is off center*/
}

.logo{
    height: 100px;
    width: auto;
    float: left; /*will stay on left side*/
    margin-top: 20px;
}

/*-----Main Nav-------*/

/*applies to list items but inline block will make them horizontal list before it was vertical list*/
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

/*applies to link in list */
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px; /*lowers border*/
    color:#fff;
    text-decoration: none; /*removes default underline under words will be replaced with border*/
    text-transform: uppercase;
    font-size: 100%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #3498db; /*looks like underline but it is a border */
}
.name-nav{
    
    color: #fff;
    font-size: 240%;/*take % from html font size */
    word-spacing: 4px;
    letter-spacing: 1px;
}

/*-----Sticky Nav--------*/
.sticky{
    position: fixed; /*always stay at same point while scrolling*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;/*this specifies this element should always be on top ex: sticky nav over pics. 
                    9999 is the highest number, it is a ranking system. */
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 8px 0; /*lowers border*/
    color:#555;
}
.main-nav{
    padding-left: 220px;
    float: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
/*-----------------------------------------------------*/
/* FEATURES */
/*-----------------------------------------------------*/

.section-features .long-copy{
    margin-bottom: 30px;
}

/*-----------------------------------------------------*/
/* MEALS */
/*-----------------------------------------------------*/

.section-meals{
    padding: 0;
}

.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%; /*4 images each 25% sums up to 100%*/
    margin: 0 0;
}
.meal-photo{
    width: 100%;/*take 100% space of parent meals-showcase li*/
    margin: 0;
    overflow: hidden;
    background-color: #000;/*used with opacity to darken image */
}

.meal-photo img {
    opacity: 0.7;/*makes image less transparent*/
    width: 100%; /*becomes a small nice square image*/
    height: auto;
    -webkit-transform: scale(1.15);
            transform: scale(1.15); /*image will slightly be zoomed */
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; /*smooths zoom and zoom out and darken of image*/
}

.meal-photo img:hover{
    opacity: 1;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);/*when hovering over img will zoom out */
}

/*-----------------------------------------------------*/
/* HOW IT WORKS */
/*-----------------------------------------------------*/

/*make section slightly gray*/
.section-steps {
    background-color: #f4f4f4;
}

/*selector: specifies which item need css with same class name */
.steps-box:first-child{
    text-align: right;/*not just for text also work for all elements*/
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step{
    margin-bottom: 50px;
}
/*adding space to last item*/
.works-step:last-of-type{
    /*same as last-child*/
    margin-bottom: 80px;
}
.works-step div{
    color: #3498db;
    border: 2px solid #3498db;
    display: inline-block;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}
/*need to remove orange line under app store and google play because of "a" links css */
.btn-app:link,
.btn-app:visited{
    border:0;
}
.btn-app img{
    /*App store and Google play*/
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*-----------------------------------------------------*/
/* CITIES */
/*-----------------------------------------------------*/

.box img{
    /*want image to be as wide as box*/
    width: 100%;
    height: auto;
    margin-bottom: 15px; 
}

.city-feature{
    margin-bottom: 5px;
}

/*-----------------------------------------------------*/
/* TESTIMONIALS */
/*-----------------------------------------------------*/

.section-testimonials {
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.6)),to(rgba(0,0,0,0.6))), url(img/hero1.jpg);
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(img/hero1.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed; /*cool effect: the image in background stays in same place while scrolling*/
    margin: 0 0;
}

blockquote{
    padding: 2%;
    font-style: italic; /*when using new fonts these need to be included*/
    line-height: 145%;
    position: relative; /*if not here then won't be able to see quote*/
    margin-top: 40px;
}
/*puts a large string in before the quote*/
blockquote:before {
    content: "\201C";/*left quotation mark had to search for (iso)*/
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;/*to align picture and name*/
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*-----------------------------------------------------*/
/* SIGN UP */
/*-----------------------------------------------------*/

.section-plans{
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;  
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8; /*small thin gray line*/
    -webkit-box-shadow: 0 2px 2px #efefef;
            box-shadow: 0 2px 2px #efefef; /*slight shadow for a card effect */
}

.plan-box div:first-child{
    background-color: #fcfcfc; /*very light gray in monthly box*/
    border-top-left-radius: 5px; /*for shadow*/
    border-top-right-radius: 5px;
}

/*moves button into center and is in last div*/
.plan-box div:last-child{
    text-align: center;
    border: 0;
}

.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #3498db
}

.plan-price span{
    font-size: 30%; /*parent is plan-price font-size and taking of % of that*/
    font-weight: 300;
}

.plan-price-meal{
    font-size: 80%;
}
.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding: 5px 0;
}

/*-----------------------------------------------------*/
/* FORM */
/*-----------------------------------------------------*/

.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc; /*removes the shadow area in input fields */
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus{outline: none;}/*removes blue box when selecting input field*/

/*-----------------------------------------------------*/
/* FOOTER */
/*-----------------------------------------------------*/

footer{
    background-color: #333;
    color: #fff;
    padding: 50px;
    font-size: 120%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style:none;
    float: right;
}

.footer-nav li,
.social-links li{ /*rotates to horizontal list*/
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{ /*rotates to horizontal list*/
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border:0;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active{
    color: #fff;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 120%;
}

footer i{
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.ion-social-facebook:hover{
    color: #3b5998;
}

.ion-social-twitter:hover{
    color: #55acee;
}

.ion-social-googleplus:hover{
    color: #dd4b39;
}

.ion-social-instagram:hover{
    color: #e95950;
}

footer p{
    color: #888;
    text-align: center;
    margin-top: 20px;
}